.borderZero {
    border: 0;
}
.CompanyPhotoPortfolio .col-md-4 {
    display: inline-block;
}
.CompanyPhotoPortfolio .col-md-4 img {
    width: 100%;
    height: 340px;
    margin-bottom: 15px;
    object-fit: cover;
}